{% extends  "base.html" %}
{% block header%}Apprende - Question List ♥{% endblock %}
{% block content %}
<center>
<table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th data-priority="1">#</th>
					<th data-priority="2">Question </th>
					<th data-priority="3">Answer #1</th>
					<th data-priority="4">Answer #2</th>
					<th data-priority="5">Answer #3</th>
                    <th data-priority="6">Answer #4</th>
                    <th data-priority="7">Correct Answer</th>
                    <th data-priority="8">Feedback</th>
                    <th data-priority="9">Theme</th>
                     <th data-priority="8">Edit</th>
                     <th data-priority="8">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr>



				</tr>
                </tbody>
    </table>
</center>
{% endblock %}
{% block footer%}Develop by Carlos Bedoy | PandaMobile ® 2014{% endblock %}