{% extends  "base.html" %}
{% block header%}Apprende - Theme List ♥{% endblock %}
{% block content %}
<center>
<table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th data-priority="1">#</th>
					<th data-priority="2">Name </th>
					<th data-priority="3">Description</th>
                     <th data-priority="4">Edit</th>
                     <th data-priority="5">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr>



				</tr>
                </tbody>
    </table>
</center>
{% endblock %}
{% block footer%}Develop by Carlos Bedoy | PandaMobile ® 2014{% endblock %}